pge-terraform-modules/aws/modules/step-functions/examples/lambda_orchestration/state_machine_definition.json
{
  "StartAt": "Check Stock Price",
  "States": {
    "Check Stock Price": {
      "Type": "Task",
      "Resource": "${lambda_check_stock_price}",
      "Next": "Generate Buy/Sell recommendation"
    },
    "Generate Buy/Sell recommendation": {
      "Type": "Task",
      "Resource": "${lambda_generate_buy_sell_recommendation}",
      "ResultPath": "$.recommended_type",
      "Next": "Request Human Approval"
    },
    "Request Human Approval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "HeartbeatSeconds": 100,
      "Parameters": {
        "QueueUrl": "${sqs_queue}",
        "MessageBody": {
          "Input.$": "$",
          "TaskToken.$": "$$.Task.Token"
        }
      },
      "ResultPath": null,
      "Next": "Buy or Sell?"
    },
    "Buy or Sell?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.recommended_type",
          "StringEquals": "buy",
          "Next": "Buy Stock"
        },
        {
          "Variable": "$.recommended_type",
          "StringEquals": "sell",
          "Next": "Sell Stock"
        }
      ]
    },
    "Buy Stock": {
      "Type": "Task",
      "Resource": "${lambda_buy_stock}",
      "Next": "Report Result"
    },
    "Sell Stock": {
      "Type": "Task",
      "Resource": "${lambda_sell_stock}",
      "Next": "Report Result"
    },
    "Report Result": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${sns_topic}",
        "Message": {
          "Input.$": "$"
        }
      },
      "End": true
    }
  }
}